# Node modules
node_modules/

# Playwright test results and reports
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Environment variables
.env

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml